<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>{% block title %} curso-intensivo {% endblock %}</title>

    {% block css %}
        {% stylesheets
            'css/card.css'
            'css/bootstrap.min.css'
            filter='uglifycss' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    {% endblock %}
</head>



<body>
    {% block content %}
    {% endblock %}


    {% block js %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        {% stylesheets
            'js/bootstrap.min.js'
            output='js/compiled/all.js' %}
            <script src="{{ asset_url }}"></script>
        {% endstylesheets %}
    {% endblock %}
    </body>
</html>
